* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background: linear-gradient(to bottom, #BD3039 20vh, #123560 20vh);
    background-attachment: fixed;
}

body {
    background: transparent;
}

header {
    width: 100%;
    display: flex;
    background-image: linear-gradient(180deg, #BD3039 97%, #123560);
    height: 20vh;
}

#title {
    width: 40%;
    font-size: 5rem;
    text-align: center;
    align-self: center;
}

nav {
    width: 80%;
   text-align: center;
   align-self: center;
}
nav a{
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    padding: 13px 18px;
    border-radius: 25px;
    display: inline-block;
    margin-inline-end: 30px;
    transition: all 0.3s ease;
}

.row {
    display: flex;
    justify-content: center;
}

.box {
    padding: 5px;
}

main {
    width: 100%;
    min-height: 80vh;
    background-color: #123560;
    overflow: hidden;
    padding-bottom: 30px;
    display: flow-root;
}

section {
    width: 80%;
    margin: 40px 100px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
}

nav a:hover {
    background: rgb(168, 12, 12);
    transform: scale(1.1);
}

nav a.active {
    background: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}


.app-title:hover {
    text-decoration: underline;
    cursor:pointer;
}

.app-title {
    margin-bottom: 20px;
    color: #F5f5f5;
}

.paragraph {
    font-size: 1.3rem;
    line-height: 2;
    color: #d1d1d1;
}


.box-text {
    flex: 1;
    margin-top: 30px;
}



#x-logo {
    width: 50px;
    position: relative;
    top: 15px;
    right: 15px;
}

.intro {
width: 95%;
}

.intro a:hover {
    text-decoration: underline;
    cursor:pointer;
}

.logo {
    width: 200px;
    border-radius: 50px;
    border: 3px solid black;
    display: inline-block;
    margin: 50px;
}

.logos {
align-self: center;
}

.iframe-img {
    flex: 1;
    margin: 30px;
    padding: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-container {
    width: 700px; 
    height: 500px; 
    position: relative;
    overflow: hidden;
    border: 3px solid grey;
    transition: all 0.5s ease;
    border-radius: 35px;
    overflow: hidden;
}

.iframe-container:hover {
    transform: scale(1.03);
}

.iframe-img iframe {
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: top left;
    width: 1450px;
    height: 1100px;
    position: relative;
    top: -20px;
    left: -20px;
    
}

#my-logo {
    position: relative;
    right: -30px;
    bottom: -20px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

#feature-header {
    text-align: center;
    font-size: 3rem;
    color: #F5f5f5;
    
}

#h1-home {
    margin-bottom: 20px;
    color: #F5f5f5;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.box-img img{
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 0 20px 20px 5px rgba(0,0,0,0.25);
    transition: all 0.5s ease;
    gap: 1rem;
}

.box-img img:hover {
    transform: scale(1.05);
}

.box-img h2 {
    margin-bottom: 30px;
    margin-top: 40px;
    text-align:  center;
    font-size: 2.5rem;
    color: #ffffff
}

.box-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-row {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.profile-card-container {
    margin-top: 20px;
    margin-right: 20px;
    width: 50%; 
    border: 3px solid grey;
    transition: all 0.5s ease;
    border-radius: 35px;
    display: flex;
    margin-bottom: 30px;
}

.profile-card-container:hover {
    transform: scale(1.03);
    cursor: pointer;
}
.profile-card-img {
width: 100%;
border-radius: 35px;
}

#img-1 {
    width: 550px;
}

#img-2 {
    width: 745px;
}

#img-3 {
    width: 550px;
}

#img-4 {
   width: 600px; 
}

#img-5 {
    width: 500px;
}

#img-6 {
   width: 500px; 
}

#img-7 {
   width: 680px; 
}

#img-8 {
   width: 680px; 
}

#img-9 {
   width: 680px; 
}

#img-10 {
   width: 660px; 
}