* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background: linear-gradient(to bottom, #BD3039 20vh, #123560 20vh);
    background-attachment: fixed;
}

body {
    background: transparent;
}

header {
    width: 100%;
    display: flex;
    background-image: linear-gradient(180deg, #BD3039 97%, #123560);
    height: 20vh;
}

#title {
    width: 40%;
    font-size: 5rem;
    text-align: center;
    align-self: center;
}

nav {
    width: 60%;
   text-align: center;
   align-self: center;
}
nav a{
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    padding: 13px 18px;
    border-radius: 25px;
    display: inline-block;
    margin-inline-end: 30px;
    transition: all 0.3s ease;
}

.row {
    display: flex;
}

.box {
    padding: 5px;
}

main {
    width: 100%;
    min-height: 80vh;
    background-color: #123560;
    overflow: hidden;
    padding-bottom: 30px;
    display: flow-root;
}

section {
    width: 80%;
    margin: 40px 100px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
}

nav a:hover {
    background: rgb(168, 12, 12);
    transform: scale(1.1);
}

nav a.active {
    background: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

h1 {
    margin-bottom: 20px;
    color: #F5f5f5;
}

h1:hover {
    text-decoration: underline;
    cursor:pointer;
}

.paragraph {
    font-size: 1.3rem;
    line-height: 2;
    color: #d1d1d1;
}

img {
    width: 90%;
    border: 3px solid grey;
    transition: all 0.5s ease;
    border-radius: 35px;
}

img:hover {
    transform: scale(1.03);
}

.box-text {
    flex: .7;
    margin-top: 30px;
}

.box-img {
    flex: 1;
    margin: 30px;
    padding: 0px;
}